Repository sardarishtiaq/lms2-wo147g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @senior-backend-devs, @database-team, @data-architects, @api-team, @backend-architects, @backend-config-team, @security-team, @frontend-team, @senior-frontend-devs, @ui-team, @frontend-architects, @frontend-config-team, @devops-team, @platform-engineers, @kubernetes-team, @platform-architects, @sre-team, @monitoring-engineers, @ci-cd-maintainers, @config-maintainers, @dependency-managers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/s3/main.tf
  infrastructure/terraform/modules/s3/main.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/s3/outputs.tf
  infrastructure/terraform/modules/s3/outputs.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/s3/variables.tf
  infrastructure/terraform/modules/s3/variables.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/package.json
  src/backend/package.json
Owners: @dependency-managers, @security-team

Add public-samples/lms2-wo147g/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/api/controllers/ActivityController.ts
  src/backend/src/api/controllers/ActivityController.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/controllers/AuthController.ts
  src/backend/src/api/controllers/AuthController.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/controllers/CategoryController.ts
  src/backend/src/api/controllers/CategoryController.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/controllers/LeadController.ts
  src/backend/src/api/controllers/LeadController.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/controllers/QuoteController.ts
  src/backend/src/api/controllers/QuoteController.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/controllers/TenantController.ts
  src/backend/src/api/controllers/TenantController.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/controllers/UserController.ts
  src/backend/src/api/controllers/UserController.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/middlewares/authMiddleware.ts
  src/backend/src/api/middlewares/authMiddleware.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/middlewares/errorMiddleware.ts
  src/backend/src/api/middlewares/errorMiddleware.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/middlewares/rateLimitMiddleware.ts
  src/backend/src/api/middlewares/rateLimitMiddleware.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/middlewares/tenantContextMiddleware.ts
  src/backend/src/api/middlewares/tenantContextMiddleware.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/middlewares/validationMiddleware.ts
  src/backend/src/api/middlewares/validationMiddleware.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/activityRoutes.ts
  src/backend/src/api/routes/activityRoutes.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/authRoutes.ts
  src/backend/src/api/routes/authRoutes.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/categoryRoutes.ts
  src/backend/src/api/routes/categoryRoutes.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/index.ts
  src/backend/src/api/routes/index.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/leadRoutes.ts
  src/backend/src/api/routes/leadRoutes.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/quoteRoutes.ts
  src/backend/src/api/routes/quoteRoutes.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/tenantRoutes.ts
  src/backend/src/api/routes/tenantRoutes.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/routes/userRoutes.ts
  src/backend/src/api/routes/userRoutes.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/validators/activityValidators.ts
  src/backend/src/api/validators/activityValidators.ts
Owners: @api-team, @backend-architects

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repository
# unless a later match takes precedence
* @tech-leads

# Backend code ownership
src/backend/** @backend-team @senior-backend-devs
src/backend/src/db/** @database-team @data-architects
src/backend/src/api/** @api-team @backend-architects
src/backend/src/config/** @backend-config-team @security-team

# Frontend code ownership
src/web/** @frontend-team @senior-frontend-devs
src/web/src/components/** @ui-team @frontend-architects
src/web/src/config/** @frontend-config-team @security-team

# Infrastructure and DevOps
infrastructure/** @devops-team @platform-engineers
infrastructure/kubernetes/** @kubernetes-team @platform-architects
infrastructure/monitoring/** @sre-team @monitoring-engineers

# CI/CD Pipeline Configuration
.github/workflows/** @devops-team @ci-cd-maintainers

# Configuration Files
*.config.ts @config-maintainers

# Package Dependencies
package.json @dependency-managers @security-team
