Repository sardarishtiaq/lms2-wo147g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @senior-backend-devs, @database-team, @data-architects, @api-team, @backend-architects, @backend-config-team, @security-team, @frontend-team, @senior-frontend-devs, @ui-team, @frontend-architects, @frontend-config-team, @devops-team, @platform-engineers, @kubernetes-team, @platform-architects, @sre-team, @monitoring-engineers, @ci-cd-maintainers, @config-maintainers, @dependency-managers

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repository
# unless a later match takes precedence
* @tech-leads

# Backend code ownership
src/backend/** @backend-team @senior-backend-devs
src/backend/src/db/** @database-team @data-architects
src/backend/src/api/** @api-team @backend-architects
src/backend/src/config/** @backend-config-team @security-team

# Frontend code ownership
src/web/** @frontend-team @senior-frontend-devs
src/web/src/components/** @ui-team @frontend-architects
src/web/src/config/** @frontend-config-team @security-team

# Infrastructure and DevOps
infrastructure/** @devops-team @platform-engineers
infrastructure/kubernetes/** @kubernetes-team @platform-architects
infrastructure/monitoring/** @sre-team @monitoring-engineers

# CI/CD Pipeline Configuration
.github/workflows/** @devops-team @ci-cd-maintainers

# Configuration Files
*.config.ts @config-maintainers

# Package Dependencies
package.json @dependency-managers @security-team

Add public-samples/lms2-wo147g/src/backend/src/api/validators/authValidators.ts
  src/backend/src/api/validators/authValidators.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/validators/categoryValidators.ts
  src/backend/src/api/validators/categoryValidators.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/validators/leadValidators.ts
  src/backend/src/api/validators/leadValidators.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/validators/quoteValidators.ts
  src/backend/src/api/validators/quoteValidators.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/validators/tenantValidators.ts
  src/backend/src/api/validators/tenantValidators.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/api/validators/userValidators.ts
  src/backend/src/api/validators/userValidators.ts
Owners: @api-team, @backend-architects

Add public-samples/lms2-wo147g/src/backend/src/config/auth.config.ts
  src/backend/src/config/auth.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/backend/src/config/email.config.ts
  src/backend/src/config/email.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/backend/src/config/index.ts
  src/backend/src/config/index.ts
Owners: @backend-config-team, @security-team

Add public-samples/lms2-wo147g/src/backend/src/config/redis.config.ts
  src/backend/src/config/redis.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/backend/src/config/storage.config.ts
  src/backend/src/config/storage.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/backend/src/constants/errorCodes.ts
  src/backend/src/constants/errorCodes.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/constants/leadCategories.ts
  src/backend/src/constants/leadCategories.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/constants/permissions.ts
  src/backend/src/constants/permissions.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/constants/roles.ts
  src/backend/src/constants/roles.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/db/migrations/001_initial_schema.ts
  src/backend/src/db/migrations/001_initial_schema.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/migrations/002_add_lead_categories.ts
  src/backend/src/db/migrations/002_add_lead_categories.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/migrations/003_add_tenant_settings.ts
  src/backend/src/db/migrations/003_add_tenant_settings.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/models/Activity.ts
  src/backend/src/db/models/Activity.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/models/Category.ts
  src/backend/src/db/models/Category.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/models/Lead.ts
  src/backend/src/db/models/Lead.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/models/Quote.ts
  src/backend/src/db/models/Quote.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/models/Tenant.ts
  src/backend/src/db/models/Tenant.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/models/User.ts
  src/backend/src/db/models/User.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/schemas/activitySchema.ts
  src/backend/src/db/schemas/activitySchema.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/schemas/categorySchema.ts
  src/backend/src/db/schemas/categorySchema.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/schemas/leadSchema.ts
  src/backend/src/db/schemas/leadSchema.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/schemas/quoteSchema.ts
  src/backend/src/db/schemas/quoteSchema.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/schemas/tenantSchema.ts
  src/backend/src/db/schemas/tenantSchema.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/db/schemas/userSchema.ts
  src/backend/src/db/schemas/userSchema.ts
Owners: @database-team, @data-architects

Add public-samples/lms2-wo147g/src/backend/src/interfaces/IActivity.ts
  src/backend/src/interfaces/IActivity.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/interfaces/ICategory.ts
  src/backend/src/interfaces/ICategory.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/interfaces/ILead.ts
  src/backend/src/interfaces/ILead.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/interfaces/IQuote.ts
  src/backend/src/interfaces/IQuote.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/interfaces/ITenant.ts
  src/backend/src/interfaces/ITenant.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/interfaces/IUser.ts
  src/backend/src/interfaces/IUser.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/ActivityService.ts
  src/backend/src/services/ActivityService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/AuthService.ts
  src/backend/src/services/AuthService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/CategoryService.ts
  src/backend/src/services/CategoryService.ts
Owners: @backend-team, @senior-backend-devs
