Repository sardarishtiaq/lms2-wo147g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @senior-backend-devs, @database-team, @data-architects, @api-team, @backend-architects, @backend-config-team, @security-team, @frontend-team, @senior-frontend-devs, @ui-team, @frontend-architects, @frontend-config-team, @devops-team, @platform-engineers, @kubernetes-team, @platform-architects, @sre-team, @monitoring-engineers, @ci-cd-maintainers, @config-maintainers, @dependency-managers

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repository
# unless a later match takes precedence
* @tech-leads

# Backend code ownership
src/backend/** @backend-team @senior-backend-devs
src/backend/src/db/** @database-team @data-architects
src/backend/src/api/** @api-team @backend-architects
src/backend/src/config/** @backend-config-team @security-team

# Frontend code ownership
src/web/** @frontend-team @senior-frontend-devs
src/web/src/components/** @ui-team @frontend-architects
src/web/src/config/** @frontend-config-team @security-team

# Infrastructure and DevOps
infrastructure/** @devops-team @platform-engineers
infrastructure/kubernetes/** @kubernetes-team @platform-architects
infrastructure/monitoring/** @sre-team @monitoring-engineers

# CI/CD Pipeline Configuration
.github/workflows/** @devops-team @ci-cd-maintainers

# Configuration Files
*.config.ts @config-maintainers

# Package Dependencies
package.json @dependency-managers @security-team

Add public-samples/lms2-wo147g/.github/dependabot.yml
  .github/dependabot.yml
Owners: @tech-leads

Add public-samples/lms2-wo147g/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @tech-leads

Add public-samples/lms2-wo147g/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @ci-cd-maintainers

Add public-samples/lms2-wo147g/.github/workflows/deploy-production.yml
  .github/workflows/deploy-production.yml
Owners: @devops-team, @ci-cd-maintainers

Add public-samples/lms2-wo147g/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team, @ci-cd-maintainers

Add public-samples/lms2-wo147g/.github/workflows/frontend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @devops-team, @ci-cd-maintainers

Add public-samples/lms2-wo147g/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @ci-cd-maintainers

Add public-samples/lms2-wo147g/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @tech-leads

Add public-samples/lms2-wo147g/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @tech-leads

Add public-samples/lms2-wo147g/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @tech-leads

Add public-samples/lms2-wo147g/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @tech-leads

Add public-samples/lms2-wo147g/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/frontend-deployment.yaml
  infrastructure/kubernetes/frontend-deployment.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/frontend-service.yaml
  infrastructure/kubernetes/frontend-service.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/redis-service.yaml
  infrastructure/kubernetes/redis-service.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/redis-statefulset.yaml
  infrastructure/kubernetes/redis-statefulset.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/configmaps/backend-config.yaml
  infrastructure/kubernetes/configmaps/backend-config.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/configmaps/frontend-config.yaml
  infrastructure/kubernetes/configmaps/frontend-config.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/secrets/backend-secrets.yaml
  infrastructure/kubernetes/secrets/backend-secrets.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/kubernetes/secrets/frontend-secrets.yaml
  infrastructure/kubernetes/secrets/frontend-secrets.yaml
Owners: @kubernetes-team, @platform-architects

Add public-samples/lms2-wo147g/infrastructure/monitoring/grafana-values.yaml
  infrastructure/monitoring/grafana-values.yaml
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/loki-values.yaml
  infrastructure/monitoring/loki-values.yaml
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/prometheus-values.yaml
  infrastructure/monitoring/prometheus-values.yaml
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/alerts/backend-alerts.yaml
  infrastructure/monitoring/alerts/backend-alerts.yaml
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/alerts/business-alerts.yaml
  infrastructure/monitoring/alerts/business-alerts.yaml
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/alerts/frontend-alerts.yaml
  infrastructure/monitoring/alerts/frontend-alerts.yaml
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/dashboards/backend-dashboard.json
  infrastructure/monitoring/dashboards/backend-dashboard.json
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/dashboards/business-metrics.json
  infrastructure/monitoring/dashboards/business-metrics.json
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/monitoring/dashboards/frontend-dashboard.json
  infrastructure/monitoring/dashboards/frontend-dashboard.json
Owners: @sre-team, @monitoring-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @platform-engineers

Add public-samples/lms2-wo147g/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @platform-engineers
