Repository sardarishtiaq/lms2-wo147g, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @senior-backend-devs, @database-team, @data-architects, @api-team, @backend-architects, @backend-config-team, @security-team, @frontend-team, @senior-frontend-devs, @ui-team, @frontend-architects, @frontend-config-team, @devops-team, @platform-engineers, @kubernetes-team, @platform-architects, @sre-team, @monitoring-engineers, @ci-cd-maintainers, @config-maintainers, @dependency-managers

Add public-samples/lms2-wo147g/src/backend/src/services/EmailService.ts
  src/backend/src/services/EmailService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/LeadService.ts
  src/backend/src/services/LeadService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/QuoteService.ts
  src/backend/src/services/QuoteService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/StorageService.ts
  src/backend/src/services/StorageService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/TenantService.ts
  src/backend/src/services/TenantService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/services/UserService.ts
  src/backend/src/services/UserService.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/utils/encryption.ts
  src/backend/src/utils/encryption.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/utils/jwt.ts
  src/backend/src/utils/jwt.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/utils/redis.ts
  src/backend/src/utils/redis.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/websocket/WebSocketManager.ts
  src/backend/src/websocket/WebSocketManager.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/websocket/handlers/activityHandler.ts
  src/backend/src/websocket/handlers/activityHandler.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/websocket/handlers/leadHandler.ts
  src/backend/src/websocket/handlers/leadHandler.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/src/websocket/handlers/quoteHandler.ts
  src/backend/src/websocket/handlers/quoteHandler.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/integration/leads.test.ts
  src/backend/tests/integration/leads.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/integration/quotes.test.ts
  src/backend/tests/integration/quotes.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/integration/tenants.test.ts
  src/backend/tests/integration/tenants.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/services/ActivityService.test.ts
  src/backend/tests/unit/services/ActivityService.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/services/AuthService.test.ts
  src/backend/tests/unit/services/AuthService.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/services/LeadService.test.ts
  src/backend/tests/unit/services/LeadService.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/services/QuoteService.test.ts
  src/backend/tests/unit/services/QuoteService.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/services/TenantService.test.ts
  src/backend/tests/unit/services/TenantService.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/services/UserService.test.ts
  src/backend/tests/unit/services/UserService.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/utils/encryption.test.ts
  src/backend/tests/unit/utils/encryption.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/utils/jwt.test.ts
  src/backend/tests/unit/utils/jwt.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/backend/tests/unit/utils/validation.test.ts
  src/backend/tests/unit/utils/validation.test.ts
Owners: @backend-team, @senior-backend-devs

Add public-samples/lms2-wo147g/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/web/package.json
  src/web/package.json
Owners: @dependency-managers, @security-team

Add public-samples/lms2-wo147g/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @senior-frontend-devs

Add public-samples/lms2-wo147g/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @config-maintainers

Add public-samples/lms2-wo147g/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team, @senior-frontend-devs

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repository
# unless a later match takes precedence
* @tech-leads

# Backend code ownership
src/backend/** @backend-team @senior-backend-devs
src/backend/src/db/** @database-team @data-architects
src/backend/src/api/** @api-team @backend-architects
src/backend/src/config/** @backend-config-team @security-team

# Frontend code ownership
src/web/** @frontend-team @senior-frontend-devs
src/web/src/components/** @ui-team @frontend-architects
src/web/src/config/** @frontend-config-team @security-team

# Infrastructure and DevOps
infrastructure/** @devops-team @platform-engineers
infrastructure/kubernetes/** @kubernetes-team @platform-architects
infrastructure/monitoring/** @sre-team @monitoring-engineers

# CI/CD Pipeline Configuration
.github/workflows/** @devops-team @ci-cd-maintainers

# Configuration Files
*.config.ts @config-maintainers

# Package Dependencies
package.json @dependency-managers @security-team
